*,
*::before,
*::after {
    box-sizing: inherit;
    margin:0;
    padding:0;
}


html {
    box-sizing:border-box;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;

   
}

body {
  padding:0rem;
  margin: 0rem;

    
}

:root {
    --nav-links-items-Color:#D6DDE2;
    --nav-links-items-hover-Color:#3B3E68;
    --nav-hero-bgColor:#F7FAFD;
    --text-heading-color:#212353;
    --text-color: #61717B;

     --purpleColor: #9C69E2;

     --herotwo-bgColor: #FDE8F4;

    --features-bgColor-one: #F0FAF8;
    --features-bgColor-two: #F5F0FC;
    --features-bgColor-three: #FDEFF8;
    --features-bgColor-four:#EAF5FB;
    --testimonials-bg-color: #9C69E2;

    --pink-color: #F063B8;
    
}

.nav-hero {
  
}

header {
    margin: 0;
    position: fixed;
    min-width: 100%;
     z-index: 9999999;
     background-color:var(--nav-hero-bgColor);
     padding:1rem;
     border-bottom: 1px solid var(--nav-hero-bgColor);
  
}



nav {
    background-color:var(--nav-hero-bgColor);
    position: absolute;
    z-index: 9999999;
    top:100%;
    left:0;
    width: 100%;
    display:none;
    padding:1rem;
   
}

.nav-toggle {
    display: none;
}


.nav-ul_list-item {
    list-style: none;
    margin: 0;
    padding:1rem;
    text-align: center;

 
  
}

.nav-ul_list-item-links{
   
   color:var(--text-color);
    text-decoration: none;
    font-size: 1rem;


   
    
}

.nav-ul_list-item-links:hover {
    color:var(--text-heading-color);
}

.nav-toggle:checked ~ nav {
    display:block;
}

.nav-toggle-icon {
    float: right;
    font-size: 1.5rem;
    color:var(--purpleColor)
}


.request-btn {
    padding: 1rem;
    background-color: white;
    border:none;
    color:var(--text-heading-color);
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    width: 100%;

    
    
}

.request-btn-arrow-icon {
    color:var(--purpleColor) !important;
}





/* hero */

.hero {
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column; 
    background-color: var(--nav-hero-bgColor);  
}

.hero-image-div img {
    margin-top:2rem;
    width: 100%;
}

.hero-heading {
  font-size: 2rem;
  color:var(--text-heading-color)
 }

 .hero-info {
     color:var(--text-color)
 }
 

.hero-learn-button {
    padding:0.8rem;
    background-color: var(--purpleColor);
    border:none;
    color:white;
    border-radius: 50px;
}












@media only screen and (min-width:950px) { 

    .nav-toggle-icon{
      display:none;
  }

  nav {
      all:unset;
   
  }

  header {
     display:grid;
      grid-template-columns: 1fr 4fr;  
      padding: 1rem 5rem;
  }



    .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    }

    .nav-ul-lists {
        display:flex;
        gap:1rem;
    }

 

    .hero {
        padding: 8rem 5rem;
        display: flex;
        flex-direction: row;   
    }
    

    
    .hero-heading {
      font-size: 3.5rem;
    }


    .hero-image-div img {
        margin-top:1rem;
        width: 700px;
    }


    
    
 
    


 
  
}