*,
*::before,
*::after {
    box-sizing: inherit;
    margin:0;
    padding:0;
}


html {
    box-sizing:border-box;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;

   
}

body {
  padding:0rem;
  margin: 0rem;
  width:100%;
  overflow-x: hidden;

    
}

:root {
    --nav-links-items-Color:#D6DDE2;
    --nav-links-items-hover-Color:#3B3E68;
    --nav-hero-bgColor:#F7FAFD;
    --text-heading-color:#212353;
    --text-color: #61717B;

     --purpleColor: #9C69E2;

     --herotwo-bgColor: #FDE8F4;

    --features-bgColor-one: #F0FAF8;
    --features-bgColor-two: #F5F0FC;
    --features-bgColor-three: #FDEFF8;
    --features-bgColor-four:#EAF5FB;
    --testimonials-bg-color: #9C69E2;

    --pink-color: #F063B8;
    
}



header {
    margin: 0;
    position: fixed;
    min-width: 100%;
     z-index: 9999999;
     background-color:var(--nav-hero-bgColor);
     padding:1rem;
     border-bottom: 1px solid var(--nav-hero-bgColor);
  
}



nav {
    background-color:var(--nav-hero-bgColor);
    position: absolute;
    z-index: 9999999;
    top:100%;
    left:0;
    width: 100%;
    display:none;
    padding:1rem;
   
}

.nav-toggle {
    display: none;
}


.nav-ul_list-item {
    list-style: none;
    margin: 0;
    padding:1rem;
    text-align: center;

 
  
}

.nav-ul_list-item-links{
   
   color:var(--text-color);
    text-decoration: none;
    font-size: 1rem;


   
    
}

.nav-ul_list-item-links:hover {
    color:var(--text-heading-color);
}

.nav-toggle:checked ~ nav {
    display:block;
}

.nav-toggle-icon {
    float: right;
    font-size: 1.5rem;
    color:var(--purpleColor)
}


.request-btn {
    padding: 1rem;
    background-color: white;
    border:none;
    color:var(--text-heading-color);
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    width: 100%;

    
    
}

.request-btn-arrow-icon {
    color:var(--purpleColor) !important;
}





/* hero */

.hero {
    padding: 6rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column; 
    background-color: var(--nav-hero-bgColor);  
}



.hero-image-div img {
    margin-top:2rem;
    width: 100%;
}

.hero-heading {
  font-size: 2rem;
  color:var(--text-heading-color)
 }

 .hero-info {
     color:var(--text-color)
 }
 

.hero-learn-button {
    padding:0.8rem;
    background-color: var(--purpleColor);
    border:none;
    color:white;
    border-radius: 50px;
}







/* hero two */

.herotwo {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    background-color: var(--herotwo-bgColor);  
   
}

.herotwo-image-div img {
 
    width: 100%;
}

.herotwo-heading {
  font-size: 2rem;
  color:var(--text-heading-color)
 }

 .herotwo-info {
     color:var(--text-color)
 }





 /* features */

 .features {
     margin-top:2rem;
    

 }


.features-heading {
    text-align: center;
    color:var(--text-heading-color)
}


.features-description {
    text-align: center;
    color:var(--text-color)
}

.features-img {
    margin-top: 2rem;
}

.features-post-top {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     gap:1rem;
     margin: 1rem;
   

}

.features-post-bottom {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     gap:1rem;
     padding:1rem;
     margin: 1rem;
  
  
}


.features-post-top-each {
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

.features-post-bottom-each {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}







.features-info-description {
    color:var(--text-color)
}

.features-info-one {
    display: flex;
    flex-direction: column;
    gap:2rem;
    background-color: var(--features-bgColor-one);
    padding:2rem;
    border-radius: 50px;
}

.features-info-two {
    display: flex;
    flex-direction: column;
    gap:2rem;
    background-color: var(--features-bgColor-two);
    padding:2rem;
    border-radius: 50px;
}

.features-info-three {
    display: flex;
    flex-direction: column;
    gap:2rem;
    background-color: var(--features-bgColor-three);
    padding:2rem;
    border-radius: 50px;
    
}

.features-info-four {
    display: flex;
    flex-direction: column;
    gap:2rem;
    background-color: var(--features-bgColor-four);
    padding:2rem;
    border-radius: 50px;
    
}





/* Testimonials */

.testimonials-heading {
    color:white;
}

.testimonials {
    background-color: var(--purpleColor);
    padding:2rem;
    border-radius: 50px;
    box-shadow: 15px 0px 100px 0px var(--testimonials-bg-color);
}

.testimonials-card-img {
    border-radius: 50px;;
    max-width: 100px;

}

.testimonials-cards {
    display:flex;
    gap:0.5rem;


    }

.testimonials-cards-card {
    padding:1rem;
    background-color: white;
    gap:1rem;
    border-radius: 50px;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    animation: move 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
  
 
}

.testimonials-card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.testimonials-controls {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}


.paginations {
    display:flex;
    gap: 0.3rem;
}

.pagination-active{
   height:10px;
   width:10px;
   border-radius: 50px;
   background:var(--pink-color);
}

.pagination-inactive{
    height:10px;
    width:10px;
    border-radius: 50px;
    background-color: white;
 }
 
 .pagination-arrow {
     color:white;
 }

 @keyframes move {
    from{
        transform: translateX(-10px);
    }
    to{
        transform: translateX(30px);
    }
}



@media only screen and (min-width:950px) { 

    .nav-toggle-icon{
      display:none;
  }

  nav {
      all:unset;
   
  }

  header {
     display:grid;
      grid-template-columns: 1fr 4fr;  
      padding: 1rem 5rem;
  }



    .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    }

    .nav-ul-lists {
        display:flex;
        gap:1rem;
    }

 

    .hero {
        padding: 8rem 5rem 2rem 5rem;
        display: flex;
        flex-direction: row;   
    }
    

    
    .hero-heading {
      font-size: 3.5rem;
    }


    .hero-image-div img {
        margin-top:1rem;
      
    }


     
    /* hero -two */

    .herotwo {
        margin: 3rem 4rem;
        padding: 2rem 8rem;
        display: flex;
        gap: 4rem;
        flex-direction: row;
        border-radius: 50px; 
          
    }
    

    
    .herotwo-heading {
      font-size: 2rem;
    }

    .herotwo-description {
        margin-top: 2rem;
    }


    .herotwo-image-div img {
      
        width: 350px;
    }


    


    /* features */

    .features-post-top {
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding:3rem;
    }

    .features-post-top-each{
        display:flex;
        flex-direction: row;
    }


    .features-post-bottom {
        display:grid;
        grid-template-columns: 1fr 1fr;
    
        padding:3rem;
    }

    .features-post-bottom-each{
        display:flex;
        flex-direction: row;
    }

    
     
            /* Testimonials */
            .testimonials {
                background-color: var(--purpleColor);
                padding:2rem;
                margin: 4rem;
                border-radius: 50px;
                box-shadow: 15px 0px 100px 0px var(--testimonials-bg-color);
            }

        .testimonials-card-img {
            max-width: 100px;
            
        }

        .testimonials-cards {
            display:flex;
            flex-direction: row;
            gap:2rem;
        }

        .testimonials-cards-card {
            display:flex;
            background-color: white;
            gap:1rem;
            padding:4rem;
        }


        
        
       
    
   
 
    


 
  
}